<div style="text-align: center; margin-top: 200px;">
  <h1>This site consists of a table of data generated with the faker gem. I also utilized the datatables gem, which easily allows for sorting, searching, and pagination.  New entries can be created, edited, and deleted.</h1>
  <%= link_to "Enter", contacts_path, class: "btn btn-primary" %>
</div>